input[type= submit] {
  padding: 12px 20px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  float: right;
}

.submitButton {
  background-color: #0099cc;
  color: #ffffff;
}

.submitButton:hover {
  background-color: #00aacc;
  color: #ffffff;
}

.submitButton:disabled,
.submitButton[disabled]{
  background-color: #cccccc;
  color: #666666;
}
